<!doctype html>
<html><head></head><body>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Plotly.js -->
<!--<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>-->

<script src="{{url_for('static', filename='logic.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<div id="p0">{{ div_test }}</div>

<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Tab0')" id="defaultOpen">Tab0 Title</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Tab1')">Tab1 Title</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Tab2')">Tab2 Title</a></li>
</ul>

<div id="Tab0" class="tabcontent">

</div>

<div id="Tab1" class="tabcontent">
  <h3>Tab1 Header</h3>
  <p id="Tab1Content">Tab1 content.</p>
</div>

<div id="Tab2" class="tabcontent">
    Tab2
</div>

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>


{% for id in ids %}
    <!--<h3>{{id}}</h3>-->
    <!--<div id="{{id}}"></div>-->
{% endfor %}


<!--<h1>Calculation</h1>-->
<!--<form method="POST">-->
    <!--<input type="text" name="first" value="">-->
    <!--<select name="second">-->
        <!--<option value="1" selected>1</option>-->
        <!--<option value="2">2</option>-->
        <!--<option value="3">3</option>-->
        <!--<option value="4">4</option>-->
        <!--<option value="5">5</option>-->
    <!--</select>-->
    <!--<input type="submit" value="Submit">-->
    <!--{% if result %}-->
    <!--<p>-->
        <!--<label name='result'>Answer is: {{ result }}</label>-->
    <!--</p>-->
    <!--{% endif %}-->
    <!--{% if error %}-->
    <!--<p>-->
    <!--<label name="error">{{ error }}</label>-->
    <!--</p>-->
    <!--{% endif %}-->
<!--</form>-->

<footer>
    <script type="text/javascript">
        $('#Tab0').append( $('#p0') )

        <!--var graphs = {{graphJSON | safe}};-->
        <!--var ids = {{ids | safe}};-->
        <!--for(var i in graphs) {-->
            <!--Plotly.plot(ids[i], // the ID of the div, created above-->
                        <!--graphs[i].data,-->
                        <!--graphs[i].layout || {});-->
        <!--}-->
    </script>
</footer>

</body></html>
