<!doctype html>
<html><head></head><body>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>                     <!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>       <!-- D3.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>                        <!-- Plotly.js -->

<!-- jQuery UI -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{{url_for('static', filename='logic.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<div id="progressbar"></div>
<div id="tabs">
    <ul>
      <li><a href="#Tab0" class="tablinks" id="defaultOpen">Data</a></li>
      <li><a href="#Tab1" class="tablinks">Analysis</a></li>
      <li><a href="#Tab2" class="tablinks">Results</a></li>
    </ul>

    <div id="Tab0" class="tabcontent">
        <form action="upload" method="post" enctype="multipart/form-data" id="form">
            <input type="submit" value="Select file" onclick="performClick('theFile');">
            <label class="inputFile">
                <input type="file" id="theFile" name="file" required/>
            </label>
            <input type="submit" value="Upload" id="upload">
        </form>
    </div>
    <div id="Tab1" class="tabcontent">
        <input id="buildModel" type="submit" value="Build Model" class="btnLoad">
        <input id="predict" type="submit" value="Predict" class="btnLoad">
        <span id="predictResult"></span>
        <div id="tree"></div>
    </div>
    <div id="Tab2" class="tabcontent">
        <input type="submit" value="Run KS distribution" class="btnLoad">
        <div id="Tab2-contents"></div>
    </div>
</div>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% for id in ids %}
    <!--<h3>{{id}}</h3>-->
    <!--<div id="{{id}}"></div>-->
{% endfor %}

<!--<form method="POST">-->
    <!--{% if result %}-->
    <!--<p>-->
        <!--<label name='result'>Answer is: {{ result }}</label>-->
    <!--</p>-->
    <!--{% endif %}-->
    <!--{% if error %}-->
    <!--<p>-->
    <!--<label name="error">{{ error }}</label>-->
    <!--</p>-->
    <!--{% endif %}-->
<!--</form>-->

<div class="modal"><!-- Place at bottom of page --></div>
</body></html>
